@use "/src/scss" as *;

.login {
  min-height: 100vh;
  padding-block: 3rem 1rem;
  background: #fff;

  .back {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 40px;
    height: 40px;
    padding: 10px;
  }

  &__imgs {
    width: 210px;
    margin: 0 auto 30px;
  }

  &__titles {
    margin-bottom: 15px;

    .title {
      font-weight: 600;
      font-size: 24px;
      line-height: 1.3;
      margin-bottom: 5px;
    }
    .desc {
      font-weight: 300;
      color: #AEAEAE;
    }
  }

  .ant-input  {
    font-family: "Poppins", sans-serif;

    &-affix-wrapper {
      padding-block: 12px;
      border: none;
      background: #F8F8F8;

      .ant-input-prefix::after {
        content: '';
        width: 1px;
        height: 28px;
        margin-left: 8px;
        margin-right: 5px;
        background: #D8D8D8;
      }
    }
  }

  .otp {
    .ant-form-item-control-input {
      justify-content: center;

      &-content {
        max-width: 275px;
      }

      .ant-otp {
        column-gap: 15px;

        .ant-input {
          width: 54px;
          height: 48px;
          font-weight: 500;
          font-size: 18px;
          border-radius: 12px;
          border-color: transparent;
          background: #F8F8F8;

          &:focus-within {
            border-color: $main-color;
            background: #CCE0FC;
          }
        }
      }
    }
  }

  .btn {
    width: 100%;
    height: unset;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    padding-block: 15px;
    border: none;
    color: #fff !important;
    background: $main-color !important;

    &.load {
      opacity: 0.8;
    }
  }

  .form {

    .hide {
      position: absolute;
      visibility: hidden;
    }

    &-inp {
      margin-bottom: 0;

      .ant-form-item-label {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-size: 16px;
        padding-bottom: 0 !important;

        label {
          color: #AEAEAE;

          &::before {
            display: none !important;
          }
        }
      }

      .ant-form-item-control {
        margin-bottom: 12px;
      }
      .ant-form-item-explain-error {
        font-family: "Poppins", sans-serif;
        font-size: 14px;
        margin-top: 4px;
      }
      .ant-form-item-control-input {
        font-family: "Poppins", sans-serif;

        input {
          height: 52px;
          padding: 16px 15px;
          margin-top: 3px;
          border-radius: 12px;
          border: none;
          background: #F8F8F8;
          outline: none;
        }
      }
      
      &.docs {

        .ant-upload-wrapper {
          width: 100%;
        }
        .ant-upload {
          width: 100%;

          .change-icon svg path {
            fill: $main-color;
          }
        }
        .ant-upload-list-item {
          padding-left: 4px;
          margin-top: 4px;
          border-radius: 6px;
          background: #f8f8f8;
        }
        .ant-upload-list-item-name {
          font-family: "Poppins", sans-serif;
          font-size: 12px;
          color: #D0CFCB;
        }
        .ant-input-affix-wrapper {
          height: 52px;
          padding-block: 0;
          border-radius: 12px;
        }
        .ant-input-prefix {
          font-family: "Poppins", sans-serif !important;
          font-size: 16px;
          color: #D0CFCB;

          &::after {
            display: none;
          }
        }
        .ant-input {
          padding: 0;
          margin: 0;
          background: transparent;
        }
      }
    }
  }
}