@use '/src/scss' as *;

.news-card {
  font-family: 'Poppins', sans-serif;
  border-radius: 15px;
  background: #fff;

  &__img {
    max-height: 200px;
    width: 100%;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
  }

  .body {
    padding: 12px 12px 15px;

    &__txt {
      font-weight: 600;
      font-size: 16px;
      line-height: 1.3;
      margin-bottom: 8px;

      //display: -webkit-box;
      //-webkit-line-clamp: 1;
      //-webkit-box-orient: vertical;
      //overflow: hidden;
    }

    &__desc {
      font-size: 12px;
      margin-bottom: 22px;

      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    &__btn {
      display: flex;
      align-items: center;
      gap: 6px;
      font-size: 14px;
      color: $main-color;
    }
  }
}

