@use '/src/scss' as *;

.header {
  padding: 15px 0;
  background: $main-color;

  .container {
    gap: 1rem;
  }

  &__menu {
    width: 40px;
    height: 40px;
    padding: 6px;
    border-radius: 8px;
    background: $secondary-color;
  }
}